#falling
{
    height: 20%;
    width: 20%;
}
#monsters
{
    height: 40%;
    width: 40%;
}
body
{
    text-align: center;
    background-image:url(Images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}